<configuration debug="false">

	<contextName>default</contextName>
	<jmxConfigurator />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--
			encoders are assigned the type
			ch.qos.logback.classic.encoder.PatternLayoutEncoder by default
		-->
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss}[%level][%thread]%logger{60} -
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Root Logger -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
